# CORS
CORS_HEADERS=["Content-Type", "Set-Cookie", "Access-Control-Allow-Headers", "Access-Control-Allow-Origin", "Authorization"]
CORS_ORIGINS=["http://localhost:3000"]
CORS_METHODS=["GET", "POST", "OPTIONS", "DELETE", "PATCH", "PUT"]

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_JOBS_DB=0
